.UserHeaderDiv {
    width: 100vw;

    .UserHeader {
        width: 100%;
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .UserHeaderLogo {
            padding: 1vmin;
            height: 7vh;
            max-height: 100%;
        }

        .UserHeaderLogout {
            display: flex;
            flex-direction: column;
            max-height: 100%;

            justify-content: center
        }

        .UserHeaderName {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center
        }

        .UserHeaderButtons {
            display: flex;
            flex-direction: column;
            height: 7vh;
            justify-content: space-evenly;

            .UserHeaderButton {
                height: 5vh;
                max-height: 100%;
                max-width: 100%;
            }

            .UserHeaderButton:hover {
                cursor: pointer;
                filter: invert(.5)
            }

        }

        .UserHeaderDivider {
            border: 0;
            clear: both;
            display: block;
            width: 100%;
            background-color: #FFFF00;
            height: 1px;
        }
    }
}